{% extends 'base.html' %}
{% load static %}
{% block title %}儀表盤{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <h1>
            儀表盤
            <small>dashboard</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    主頁
                </a>
            </li>
            <li class="active">儀表盤</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

{% endblock %}

{% block script %}

{% endblock %}