{% extends 'base.html' %}
{% load static %}
{% block title %}阿里雲CDN{% endblock %}

{% block css %}

    <!-- 引入所需CSS檔案 -->

{% endblock %}

<!-- 麵包屑導覽 -->
{% block breadcrumb %}
    <section class="content-header">
        <h1>

            CDN
            <small>阿里雲</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'assets:dashboard' %}"><i class="fa fa-dashboard"></i>主頁</a>
            </li>
            <li class="active">阿里CDN</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- 頁面內容 -->



{% endblock %}

{% block script %}

    <!-- 引入所需要的JS檔案 -->


    <!-- 自定義JS  -->


    <script>

    </script>

{% endblock %}